<%= link_to 'Home', articles_path %>
<br>
<br>
<br>


<p id="notice"><%= notice %></p>

<p>
  <h2>
  <%= @article.headline %></h2>
</p>

<p>
  
  <i> <%= @article.blurb %> </i>
</p>
<br>
<p>
  
  <%= @article.body %>
</p>

<br>

<% if @article.comments.any? %>

<h2>Comments</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Comment</th>
  
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @article.comments.each do |comment| %>
      <tr>
        <td><%= comment.name %></td>
        <td><%= comment.email %></td>
        <td><%= comment.comment %></td>
       
        
        <td><%#= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%#= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% end %>
<%= link_to 'Post a comment', new_comment_path %>





